@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

html, body {
    font-family: "Noto Sans", sans-serif !important;
    background-color: #fcf7f3 !important;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
}

.header-container a {
    color: black;
    text-decoration: none;
}

.header-container a:hover {
    color: #6BC1C7;
    border-radius: 50px;
}

.header hr {
    color: green;
    background-color: green;
    margin-left: 40px;
    margin-right: 40px;
}

.hamburger-btn {
    font-size: 30px;
    border-style: none;
    margin-top: 10px;
    background-color: #fcf7f3;
    transition: transform 0.3s ease;
}

.hamburger-btn.rotate {
    transform: rotate(-90deg);
}

.header-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.header-container .menu-searchbar {
    margin-right: 25px;
    display: flex;
    padding-top: 18px;
    margin-top: 18px;
}

.header-container .menu-container a {
    margin-right: 50px;
}

.header-container .menu-searchbar button {
    border-style: none;
    background-color: white;
    background-color: #fcf7f3;
}

.header-container .menu-searchbar img {
    width: 17px;
    height: auto;
    margin-top: 5px;
    margin-left: 5px;
}

.header-container .menu-searchbar input {
    border: none;
    border-bottom: 2px  solid black;
    background-color: #fcf7f3;
}

.header-container .menu-searchbar input:focus {
    outline: none;
}

.carouselSectionImg {
    max-height: 750px;
    width: 100%;
    object-fit: cover;
}

.littleText {
    margin-top: 20vh;
    margin-bottom: 20vh;
    background-color: white;
    padding-top: 20vh;
    padding-bottom: 20vh;
}

.littleText h5, .littleText .text-content {
    text-align: center;
}

.littleText h5 {
    font-weight: bold;
}

.littleText .text-content span {
    display: block;
}

#image {
    width: 250px;
    height: auto;
    margin-right: 20px;
    border-radius: 10px;
    transition: transform .2s; /* for animation */
}

#image:hover {
    transform: scale(0.95); /* der zoomfaktor */
}

.foodContainer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-left: 10vw;
    margin-right: 10vw;
}

.img-pos {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-left: 20px;
}

.header-test {
    height: 80vh;
}

.foodContainer-h2 {
    display: flex;
    justify-content: center;
    margin-top: 10vh;
}

.irgendwasKA {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    height : 370px;
    width: 100%;
}

.carousel-caption {
    /* Fügt einen halbdurchsichtigen schwarzen Hintergrund hinzu (RGBA) */
    background-color: rgba(0, 0, 0, 0.3);
    padding: 10px 15px;
    border-radius: 5px;
    text-shadow: none;
}

/* Optional: Verbessert die Lesbarkeit des Textes (ist in Bootstrap meist schon weiß) */
.carousel-caption h3,
.carousel-caption p {
    color: white; /* Stellt sicher, dass der Text weiß ist */
}


.socials-box {
    width: 300px;
    height: 200px;

    display: flex;
    justify-content: space-around;
    align-items: center;

    border-radius: 50px; /*Abrundungen der Border*/
    background-color: #6BC1C7; /* #294D63 */

    margin-top: 150px;
}

.socials-container {
    display: flex;
    justify-content: center;
}

.logo-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.logo-container img {
    width: 350px;
}

.insta img{
    width: 70px;
    height: auto;
    padding-left: 20px;
}

.x img{
    width: 50px;
    height: auto;
}

.youtube img{
    width: 70px;
    height: auto;
    padding-right: 20px;
}

.footer-container {
    font-size: 15px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fceeda;
    height : 370px;
    width: 100%;
}

.recipe-container {
    backdrop-filter: blur(90);
}

.recipes-header-alphabet {
    display: flex;
    justify-content: space-between;
}

.recipes-header {
    display: flex;
    justify-content: center;
}

.recipes-container {
    background-color: #fcf7f3;
    width: 80vw;
}

.background-white {
    background-color: white;
    display: flex;
    justify-content: center;
}

.recipes-body {
    margin-top: 10vh;
    margin-left: 2vw;
}

.recipes-alphabet {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.recipes-header-searchbar {
    margin-right: 25px;
    display: flex;
    padding-top: 18px;
    margin-top: 18px;
}

.recipes-header-searchbar input {
    border: none;
    border-bottom: 2px  solid black;
    background-color: #fcf7f3;
}

.recipes-header-searchbar button {
    border-style: none;
    background-color: white;
    background-color: #fcf7f3;
}

.recipes-header-searchbar img {
    width: 17px;
    height: auto;
    margin-top: 5px;
    margin-left: 5px;
}

.recipe-container .recipe {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fceeda;
    padding-right: 5vw;
    padding-left: 5vw;
    margin-right: 10vw;
    margin-left: 10vw;
}

.recipe-container img{
    width: 600px;
    border-radius: 10px;
    margin-top: 20px;
}

.recipe-container .recipe h1 {
    color: #30833e;
    font-weight: bold;
    margin-top: 20px;
}

.recipe-container .recipe-stats {
    display: flex;
    justify-content: space-around;
    width: 800px;
    margin-top: 5vh;
    padding-top: 10px;
    padding-bottom: 5px;
    background-color: #30833e;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
}

.recipe-container .ingredients-table {
    margin-left: 8vw;
    margin-top: 5vh;
    margin-bottom: 3vh;
}

.recipe-container .ingredients-table h4 {
    margin-bottom: 15px;
    margin-top: 13vh;
}

.recipe-container .instructions {
    margin-bottom: 7vh;
    margin-left: 8vw;
}

.recipe-container .instructions h4 {
    margin-bottom: 15px;
    margin-top: 13vh;
}

.recipe-container .instructions ol {
    margin-bottom: 17px;
    padding-left: 20px;
}

.recipe-container .instructions ol li {
    padding-bottom: 10px;
}

.recipe-container .nutrition {
    margin-left: 8vw;
    margin-top: 5vh;
    margin-bottom: 8vh;
}

.recipe-container .instructions p {
    margin-top: 40px;
}